<h1> {{ section.settings.heading }} </h1>
<section class="features">

    {% for block in section.blocks %}

    <div class="feature">
        <i class="fas fa-{{ block.settings.icon }} feature__icon"></i>
     <h5> {{ block.settings.heading }} </h5>
     <p class="feature__text">
         {{ block.settings.text }}
     </p>
    </div>
        

    {% endfor %}
    

  


{% schema %}
{
    "name": "Store Features",
    "settings": [ 
    {
        "type" : "text",
        "label" : "Heading for Section",
        "id" : "heading"
    }    
    ],
    "blocks" : [
    {
        "type": "image",
        "name": "Shop Feature",
        "settings": [

        {
            "type" : "text",
            "label" : "Icon name",
             "id" : "icon"

        },
        {
            "type" : "text",
            "label" : "Feature Heading",
             "id" : "heading"

        },
        {
            "type" : "text",
            "label" : "Feature Text ",
             "id" : "text"

        }
        ]
    }],

    "presets": [
    {
        "category": "Icons With Text",
        "name": "Store features"
    }]
}
{% endschema %}